body {
    font-family: Arial, sans-serif;
    background-image: url("../img/5.png");
    background-attachment: fixed;
    background-size: cover;

    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    background-image: url("../img/pokeball.png");
    background-size: cover;
    cursor: crosshair;
    box-shadow: 0px 0px 10px rgba(0, 255, 34, 0.1);

}

.neon-border {
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
    animation: neon-border 1.5s ease-in-out infinite alternate;
}

@keyframes neon-border {
    0% {
        border-color: #fff;
        box-shadow: 0 0 5px #fff;
    }

    100% {
        border-color: #0ff;
        box-shadow: 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
    }
}

nav h1 {
    color: #fff;
    font-size: 30px;

}

.select {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 20px;
    border: 3px solid #ccc;
    text-align: center;
    transition: background-color 0.5s, transform 0.5s;
}

.select:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.1);
}


label {
    display: block;
    margin-bottom: 5px;
}

footer {
    display: flex;
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 43px;
}

.containerResult {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #fff;
    border: 3px dotted #000000;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h3 {
    color: #000000;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
}

#pokemon-winner {
    color: #000000;
    font-size: 30px;
    margin-top: 2px;
    margin-left: 5px;
}

.fa-a {
    color: #ffffff;
    font-size: 29px;
    text-align: center;
    margin-top: 10px;
    margin-left: 1804px;
    background-color: green;
    border-radius: 50%;
    padding: 10px 15px 10px 15px;

}

.fa-b {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 1805px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
}