body {
    font-family: 'Arial', sans-serif;
    background-image: url("../img/5.png");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --mask:
        radial-gradient(16.55px at 50% calc(100% - 23.40px), #000 99%, #0000 101%) calc(50% - 24px) 0/48px 100%,
        radial-gradient(16.55px at 50% calc(100% + 11.40px), #0000 99%, #000 101%) 50% calc(100% - 12px)/48px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

nav img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    background-image: url("../img/pokeball-png-45332.png");
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(0, 255, 34, 0.1);

}

.neon-border {
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
    animation: neon-border 1.5s ease-in-out infinite alternate;
}


@keyframes neon-border {
    0% {
        border-color: #fff;
        box-shadow: 0 0 5px #fff;
    }

    100% {
        border-color: rgb(255, 255, 0);
        box-shadow: 0 0 20px rgb(255, 255, 0), 0 0 40px rgb(255, 255, 0), 0 0 80px rgb(255, 255, 0);
    }
}

nav h1 {
    color: #ffffff;
    font-size: 34px;
    margin-right: 750px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.select1,
.select2 {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
    max-height: 500px;
    overflow: auto;
    box-shadow: 0 0 5px #fff;
    transition: box-shadow 1.5s;
    animation: myAnim 2s ease 0s 1 normal forwards;

}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

.select1:hover {
    animation: neon-border-hover1 1.5s ease-in-out infinite alternate;
    transition: 1.5s;
    transform: scale(1.1);

}

.select2:hover {
    animation: neon-border-hover2 1.5s ease-in-out infinite alternate;
    transition: 1.5s;
    transform: scale(1.1);
}

@keyframes neon-border-hover1 {
    0% {
        box-shadow: 0 0 5px #fff;
    }

    100% {
        box-shadow: 0 0 20px rgb(38, 255, 0), 0 0 40px rgb(38, 255, 0), 0 0 80px rgb(38, 255, 0);
    }
}

@keyframes neon-border-hover2 {
    0% {
        box-shadow: 0 0 5px #fff;
    }

    100% {
        box-shadow: 0 0 20px rgb(0, 0, 255), 0 0 40px rgb(0, 0, 255), 0 0 80px rgb(0, 0, 255);
    }
}


.poke1 input[type="checkbox"] {
    display: none;
}

.poke2 input[type="checkbox"] {
    display: none;
}

.poke1 label {
    cursor: pointer;
}

.poke2 label {
    cursor: pointer;
}

.poke1 label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/pokeball.png');
    background-size: cover;
    margin-right: 10px;
    animation: rotate 0.3s linear;

}

.poke2 label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/pokeball.png');
    background-size: cover;
    margin-right: 10px;
    animation: rotate 0.3s linear;

}

.poke1 input[type="checkbox"]:checked+label:before {
    background-image: url('../img/pokeball.png');
}

.poke2 input[type="checkbox"]:checked+label:before {
    background-image: url('../img/pokeball.png');
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.select1::-webkit-scrollbar,
.select2::-webkit-scrollbar {
    display: none;
}


.poke1,
.poke2 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 100px;
    font-size: 15px;
    padding: 10px;
    cursor: crosshair;
    transition: border-color 0.5s, transform 0.5s, background-color 0.5s;
    animation: myAnim 2s ease 0s 1 normal forwards;

}

input[type="submit"]:hover {
    background-color: #fdfeff;
    color: #000000;
    border: solid #000000;
    transform: scale(1.1);
}

footer {
    display: flex;
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 154px;
    --mask:
        radial-gradient(16.55px at 50% 23.40px, #000 99%, #0000 101%) calc(50% - 24px) 0/48px 100%,
        radial-gradient(16.55px at 50% -11.4px, #0000 99%, #000 101%) 50% 12px/48px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}