body {
    font-family: Arial, sans-serif;
    background-image: url("../img/5.png");
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

form {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 380px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 725px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 350px;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 3px solid #ccc;
    text-align: center;
    background-color: #fff;
    color: #000000;
    animation: border-color-change 5s infinite;

}

input[type="file"] {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid red;
    border-radius: 20px;
    margin-left: 5px;
    padding: 10px;
    cursor: crosshair;
    animation: border-color-change 5s infinite;
    transition: border-color 0.5s, transform 0.5s;
}

input[type="file"]:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.1);
}



a {

    text-decoration: none;
    margin-left: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

select {
    width: 372px;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 3px solid #ccc;
    text-align: center;
    animation: border-color-change 5s infinite;
}

input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: 3px solid red;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    cursor: crosshair;
    animation: border-color-change 5s infinite;
    transition: border-color 0.5s, transform 0.5s;

}

input[type="submit"]:hover {
    background-color: #fdfeff;
    color: #000000;
    transform: scale(1.1);

}

input[type="submit"]:focus {
    border-color: green;
}

@keyframes border-color-change {
    0% {
        border-color: red;
    }

    50% {
        border-color: blue;
    }

    100% {
        border-color: green;
    }
}

::placeholder {
    color: #000000;
    opacity: 1;
    text-align: center;
}